.certificate-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdffc2;
  height: 88vh;
}

.certificate-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
}

.certificate-border {
  background-color: white;
  padding: 10px;
  border: 4px solid #94ffd8;
}

.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  gap: 15px;
  border: 4px solid #ff76ce;
}

.certificate h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 35px;
}

.certificate img {
  width: 40px;
}

.logo {
  background-color: #ff76ce;
  color: white;
  padding: 60px 10px;
  border: 10px solid white;
  border-radius: 100%;
  margin-top: -25%;
  font-size: 20px;
}

.certificate-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  padding-top: 2px;
  border-top: 2px solid black;
}

.screenshoot {
  color: #ff76ce;
  font-size: 20px;
}

@media only screen and (max-width: 1800px) {
  .certificate-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdffc2;
    height: 88vh;
  }

  .certificate-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
  }

  .certificate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
  }

  .certificate-border {
    background-color: white;
    padding: 5px;
    border: 4px solid #94ffd8;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    gap: 15px;
    border: 4px solid #ff76ce;
  }

  .certificate h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
  }

  .certificate h2 {
    font-size: 16px;
  }

  .certificate img {
    width: 40px;
  }

  .logo {
    background-color: #ff76ce;
    color: white;
    padding: 40px 5px;
    border: 6px solid white;
    border-radius: 100%;
    margin-top: -30%;
    font-size: 14px;
  }

  .certificate-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certificate-name p {
    font-size: 10px;
  }

  .certificate-name h3 {
    font-size: 14px;
  }

  .author {
    font-size: 13px;
    padding-top: 2px;
    border-top: 2px solid black;
  }

  .screenshoot {
    color: #ff76ce;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .certificate-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdffc2;
    height: 100vh;
  }

  .certificate-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
  }

  .certificate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
  }

  .certificate-border {
    background-color: white;
    padding: 5px;
    border: 4px solid #94ffd8;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    gap: 15px;
    border: 4px solid #ff76ce;
  }

  .certificate h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 12px;
  }

  .certificate h2 {
    font-size: 14px;
  }

  .certificate img {
    width: 20px;
  }

  .logo {
    background-color: #ff76ce;
    color: white;
    padding: 30px 5px;
    border: 6px solid white;
    border-radius: 100%;
    margin-top: -35%;
    font-size: 10px;
  }

  .certificate-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certificate-name p {
    font-size: 8px;
  }

  .certificate-name h3 {
    font-size: 12px;
  }

  .author {
    font-size: 10px;
    padding-top: 2px;
    border-top: 2px solid black;
  }

  .screenshoot {
    color: #ff76ce;
    font-size: 16px;
  }
}
