* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons div {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .buttons div {
    display: flex;
    gap: 10px;
  }
}